/*------------- global -------------*/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
* {
    font-family: 'Open Sans', sans-serif;
}
/*------------- header -------------*/
body > header:first-of-type {
    height: 15%;
    background-color: #353744;
}
body > header:first-of-type > h1 {
    display: none;
}
body > header:first-of-type > img {
    margin: 1.5vh;
    height: 80%;
}
/*------------- nav -------------*/
nav {
    height: 85%;
    width: 18%;
    float: left;
    background-color: #61D290;
}
/*------------- main header -------------*/
.Header--mainHeader {
    width: 82%;
    float: right;
    background-color: #F6F6F6;
}

.Header--mainHeader > h1 {
    color: #3B3B3B;
    margin: 1vh 0;
    margin-left: 3.5vw;
    font-size: 3vh;
    font-weight: normal;
}
dl {
    margin: 1vh 0;     
    margin-left: 3.5vw;
    padding: 0;
}
dt, dd {
    display: block;
    margin: 0.5vh 0;
    height: 2vh;
}
dd {
    font-size: 2vh;
}
dt {
    padding: 0;
}
dt > img {
    float: left;
    height: 100%;
}
/*------------- main -------------*/
main {
    /*height: 61.5%;*/
    box-sizing: border-box;
    padding: 5px 0;
    width: 82%;
    float: right;
    background-color: #F6F6F6;
    word-wrap:break-word;
}
/*------------- messages -------------*/
/*messages list*/
main > ol {
    height: 100%;
    overflow-y: auto;
    clear: both;
    list-style:none;
    margin: 0;
    margin-left: 2.5vw;
    padding: 0;
}
/*styling the messages*/
li {
    clear: left; /*each message in a new line*/
    margin-top: 1vh; /*space between the messages*/
}
/*avatar*/

li > img {
    float: left;
    border-radius: 50%; /*making the image round*/
    height: 2.4rem;
    width: 2.4rem;
}
/*message author*/
.Container--message > cite {
    font-weight: bold;
}
/*message time*/
.Container--message > time {
    font-size: 0.8rem;
    margin-left: 2vmin;
    color: #999999;
}
/*message content*/
.Container--message > p {
    margin: 0;
    margin-top: 0.25rem; /*space from the message metadata*/
}
/*message*/
.Container--message {
    max-width: 80%; /* todo - 600px max-width */
    float: left;
    background-color: #FFFFFF;
    border: solid 0.05rem #DADADA;
    border-radius: 2vmin;
    margin-left: 0.8vw;
    padding: 0.2rem 0.4rem;
}
.Container--message:hover, .Container--message:focus{
    background-color: #EBEDEC;
    outline: none;
}
/*delete icon*/
/*
button.delete-icon {
    float: right;
    background-image: url("../images/x-icon.png");
    background-repeat: no-repeat;
    background-size: 0.5rem 0.5rem;
    padding: 0;
    margin: 0.25rem;
    outline: none;
    border: none;
    height: 0.5rem;
    width: 0.5rem;
}
*/
button.delete-icon:hover, button.delete-icon:focus {
    outline: 0.02rem solid #7D9FD6 !important;
}
/*------------- footer -------------*/
footer {
    position: fixed;
    bottom: 0;
    left: 18%;
    float: left;
    width: 82%;
    background-color: #FFFFFF;
    border-top: solid 0.1vh #D9D9D9;
}
footer form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Growable {
	position: relative;
	/*border: 1px solid;*/
	/*max-height: 300px;*/
	overflow: hidden;
	-webkit-scrollbar: red;
}

.Growable textarea,
.Growable pre {
	margin: 0;
    padding: 0;
	/*padding: 7px;*/
    width: 77vw;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0.5em;
}

.Growable textarea {
	width: 100%;
	resize: none;
	border: none;
	
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	overflow: visible;
}

/*
footer textarea {
    box-sizing: border-box;
    height: 100%;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 7px;
    border: none;
    resize: none;
}
*/
footer textarea:focus {
    outline: none;
}
footer button {
    float: right;
    height: 1.2rem;
    width: 1.2rem;
    padding: 0;
    margin-left: 1vw;
    border-radius: 0.6rem;
    background-image: url("../images/submit.png");
    background-size: cover;
    outline:none;
}
footer button:focus, footer button:hover {
    border: 0.05rem solid black;
}
/*the login section*/
.Section--login {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50vh;
}
.Section--login form {
    background-color: #F9F9F9;
    padding: 1.7rem 1.5rem;
}
.Section--login h1 {
    color: #32333B;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}
.Section--login label {
    color:#616161;
    float: left;
    clear: left;
}
.Section--login input {
    width: 16.2rem;
    float: right;
    clear: right;
    border: solid 0.03rem #D9D9D9;
    font-weight: bold;
    padding: 0.4rem;
    margin-left: 0.4rem;
    border-radius: 0.5rem;
}
.Section--login input:focus {
    outline: none;
    border-color: blue;
}
.Section--login button {
    margin-top: 1rem;
    float: right;
    clear: both;
}
.Section--login button:first-of-type {
    float: right;
    background-color: #78D351;
    color: white;
    padding: 0.1rem 1.3rem;
    border: none;
}
.Section--login label:first-of-type {
    margin-top: 0.3rem;
}
.Section--login label:nth-of-type(2) {
    margin-top: 1.85rem;
}
.Section--login input:nth-of-type(2) {
    margin-top: 1.1rem;
}
.Section--login button:nth-of-type(2) {
    margin-right: 0.4rem;
    background-color: #C1C1C1;
    color: #21282A;
    padding: 0.1rem 0.4rem;
    border: none;
}

/*------------- mobile design -------------*/
@media screen and (max-width: 319px) {
    /*login section*/
    .Section--login h1 {
        font-size: 5vh;
        padding: 0;
        margin-bottom: 1vh;
    }
    .Section--login form {
        position: relative;
        padding: 7vh 10vw;
        margin-top: 2vh;
        height: 77vh;
        width: 65vw;
    }
    .Section--login input {
        padding: 2vh 2vw;
        font-size: 4vh;
        border-radius: 1.5vh;
        border: 0.2vh solid #D9D9D9;
        width: 60vw;
        margin: 1vh 0 !important;
        float: left;
        clear: both;
    }
    .Section--login label {
        margin: 4vh 0 1vh 0 !important;
        font-size: 4vh;
    }
    .Section--login button {
        padding: 0 2vw !important;
        margin: 1vh 0 0 0 !important;
        font-size: 3.5vmin;
        height: 5vmin;
    }
    /*messages*/
    li img, li container {
        clear: both;
        margin-top: 1vh;
    }
}

@media screen and (min-width: 320px) {
    /*------------- main header -------------*/
    .Header--mainHeader {
        height: 10%;
    }
    .Header--mainHeader > h1 {
        float: left;
        margin-top: 3.5vh;
        margin-left: 3.5vw;
        margin-bottom: 0;
    }
    dl {
        margin: 0;    
        float: right;
        height: 10vh;   
    }
    dt, dd {
        height: 3vmin;
        display: inline-block;
        margin: 0;
    }
    dd {
        font-size: 3vmin;
        margin-right: 2vmin;
    }
    dd:nth-of-type(2) {
        margin-right: 4vmin;
    }
    /*login section*/
    .Section--login button:nth-of-type(2) {
        clear: none;
    }
}


/*@media screen and (max-width: 1023px), screen and (max-height: 626px)*/
@media screen and (max-width: 638px) and (min-width: 320px) {
    .Section--login button:nth-of-type(2) {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 638px) and (min-width: 320px) and (min-height: 627px) {
    .Section--login button:nth-of-type(2) {
        margin-right: 2vw !important;
    }
}


@media screen and (max-width: 638px) and (min-width: 320px) and (max-height: 626px) {
    nav {
        width: 0;
    }
    .Header--mainHeader, main, footer {
        width: 100%;
    }
    
    
    .Section--login h1 {
        font-size: 5vh;
        padding: 0;
        margin-bottom: 1vh;
    }
    .Section--login form {
        position: relative;
        padding: 7vh 10vw;
        margin-top: 2vh;
        height: 77vh;
        width: 65vw;
    }
    .Section--login input {
        padding: 2vh 2vw;
        font-size: 4vh;
        border-radius: 1.5vh;
        border: 0.2vh solid #D9D9D9;
        width: 45vw;
        margin: 1vh 0 !important;
        float: left;
        clear: both;
    }
    .Section--login label {
        margin: 4vh 0 1vh 0 !important;
        font-size: 4vh;
    }
    .Section--login button {
        padding: 0 2vw !important;
        margin: 25vh 0 0 0 !important;
        font-size: 3.5vmin;
        height: 5vmin;
    }
    .Section--login button:nth-of-type(2) {
        margin-right: 2vw !important;
    }

    footer {
        left: 0;
    }
    .Growable textarea,
    .Growable pre {
        width: 95vw;
    }
}

/*------------- global classes -------------*/
.u-flexContainerY {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.u-flexContainerX {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.u-flexContainerXStart {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.Button--noStyle {
    background-color: inherit;
    border: none;
}
.Button--clickable {
    cursor: pointer; 
    cursor: hand;
}
.u-visuallyHidden {
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

[tabindex]:focus .u-visuallyHidden.u-focusable, [tabindex]:hover .u-visuallyHidden.u-focusable, 
.u-visuallyHidden.u-focusable:hover,
.u-visuallyHidden.u-focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;

    float: right;
    background-image: url("../images/x-icon.png");
    background-repeat: no-repeat;
    background-size: 0.5rem 0.5rem;
    padding: 0;
    margin: 0.25rem;
    outline: none;
    border: none;
    height: 0.5rem;
    width: 0.5rem;
}